body{
	background-color: #6F4E37;
}

h1{
	color: white;
	font-size: 50px;
	text-align: left;
	font-family: arial;
}

h3{
	color: white;
	font-size: 25px;
	text-align: left;
	font-family: arial;
}

div{
	font-size: 20px;
	font-family: arial;
	color: white;
	text-align: center;
	justify-content: left;
	text-align: justify;
	border: 10px solid white;
	width: 1180px;
	height: 600;
	padding: 50px;
	margin: 20px;
}

ul{
	color: white;
	font-size: 20px;
	font-family: arial;
	line-height: 30px;
}

ul.list{
	list-style: square;
}

table, th, td{
	border: 1px solid;
}
table{
	border-collapse: collapse;
	width: 30%;
	color: white;
	font-size: 17px;
	margin-right: 10px;
	font-family: arial;
	text-align: center;
}
thead{
	font-weight: bold;
}
tr{
	height: 30px;
}